/node_modules/
/.rpt2_cache/
package-lock.json
/dist

.env
.envrc

stats.html
/coverage/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
