ha-icon-button.button {
  color: var(--secondary-color, white);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 0px;
  margin: 3px;
  --ha-icon-display: block;
  /* Buttons can always be clicked */
  pointer-events: auto;
  opacity: 0.9;

}
// =====================================================================================
// From: https://github.com/home-assistant/frontend/blob/dev/src/common/style/icon_color_css.ts
// Modified for `ha-icon-button` instead of `ha-state-icon`.
// =====================================================================================
ha-icon-button[data-domain="alert"][data-state="on"],
ha-icon-button[data-domain="automation"][data-state="on"],
ha-icon-button[data-domain="binary_sensor"][data-state="on"],
ha-icon-button[data-domain="calendar"][data-state="on"],
ha-icon-button[data-domain="camera"][data-state="streaming"],
ha-icon-button[data-domain="cover"][data-state="open"],
ha-icon-button[data-domain="fan"][data-state="on"],
ha-icon-button[data-domain="humidifier"][data-state="on"],
ha-icon-button[data-domain="light"][data-state="on"],
ha-icon-button[data-domain="input_boolean"][data-state="on"],
ha-icon-button[data-domain="lock"][data-state="unlocked"],
ha-icon-button[data-domain="media_player"][data-state="on"],
ha-icon-button[data-domain="media_player"][data-state="paused"],
ha-icon-button[data-domain="media_player"][data-state="playing"],
ha-icon-button[data-domain="script"][data-state="on"],
ha-icon-button[data-domain="sun"][data-state="above_horizon"],
ha-icon-button[data-domain="switch"][data-state="on"],
ha-icon-button[data-domain="timer"][data-state="active"],
ha-icon-button[data-domain="vacuum"][data-state="cleaning"],
ha-icon-button[data-domain="group"][data-state="on"],
ha-icon-button[data-domain="group"][data-state="home"],
ha-icon-button[data-domain="group"][data-state="open"],
ha-icon-button[data-domain="group"][data-state="locked"],
ha-icon-button[data-domain="group"][data-state="problem"] {
  color: var(--paper-item-icon-active-color, #fdd835);
}

ha-icon-button[data-domain="climate"][data-state="cooling"] {
  color: var(--cool-color, var(--state-climate-cool-color));
}

ha-icon-button[data-domain="climate"][data-state="heating"] {
  color: var(--heat-color, var(--state-climate-heat-color));
}

ha-icon-button[data-domain="climate"][data-state="drying"] {
  color: var(--dry-color, var(--state-climate-dry-color));
}

ha-icon-button[data-domain="alarm_control_panel"] {
  color: var(--alarm-color-armed, var(--label-badge-red));
}
ha-icon-button[data-domain="alarm_control_panel"][data-state="disarmed"] {
  color: var(--alarm-color-disarmed, var(--label-badge-green));
}
ha-icon-button[data-domain="alarm_control_panel"][data-state="pending"],
ha-icon-button[data-domain="alarm_control_panel"][data-state="arming"] {
  color: var(--alarm-color-pending, var(--label-badge-yellow));
  animation: pulse 1s infinite;
}
ha-icon-button[data-domain="alarm_control_panel"][data-state="triggered"] {
  color: var(--alarm-color-triggered, var(--label-badge-red));
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ha-icon-button[data-domain="plant"][data-state="problem"],
ha-icon-button[data-domain="zwave"][data-state="dead"] {
  color: var(--state-icon-error-color);
}

/* Color the icon if unavailable */
ha-icon-button[data-state="unavailable"] {
  color: var(--state-unavailable-color);
}