ha-icon-button.button {
  color: var(--secondary-color, white);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 0px;
  margin: 3px;
  --ha-icon-display: block;
  /* Buttons can always be clicked */
  pointer-events: auto;
  opacity: 0.9;
}