.container_16_9 {
  /* 16:9 Aspect Ratio. When Safari supports 'aspect-ratio' this should not be
     necessary */
  position: relative;
  padding-top: 56.25%;  // 9 / 16 == 0.5625
}

.frigate-card-contents {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none; /* Hide scrollbar: IE and Edge */
  scrollbar-width: none;    /* Hide scrollbar: Firefox */
}

/* Support the 'hover' menu mode. */
.hover-menu {
  z-index: 1;
  transition: all 0.5s ease;
}
.outer + .hover-menu {
  opacity: 0.0;
}
.outer:hover + .hover-menu, .hover-menu:hover {
  opacity: 1.0;
}

.frigate-card-contents img.media,video.media,canvas.media {
  width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.frigate-card-contents::-webkit-scrollbar {
  display: none;
}

.frigate-card-contents .attention {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10%;
}

video, img {
  display: block;
}

ha-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--secondary-text-color, white);
  background-color: var(--secondary-background-color, black);

}

ha-card a {
  color: var(--primary-text-color, white);
}

/* Don't drop shadow or have radius for nested webrtc card */
webrtc-camera ha-card {
  box-shadow: none;
  border-radius: 0px;
  background-color: var(--secondary-background-color, black);
}
