@use "@material/image-list/mdc-image-list";
@use "@material/image-list";
@use './common.scss';

.container_16_9 {
  /* 16:9 Aspect Ratio. When Safari supports 'aspect-ratio' this should not be
     necessary */
  padding-top: 56.25%;  // 9 / 16 == 0.5625
}

.frigate-card-contents {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: auto;
  -ms-overflow-style: none; /* Hide scrollbar: IE and Edge */
  scrollbar-width: none;    /* Hide scrollbar: Firefox */
}

.frigate-card-contents img.snapshot {
  width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.frigate-card-contents::-webkit-scrollbar {
  display: none;
}

.frigate-card-contents .attention {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5%;
}

.frigate-card-image-list {
  @include image-list.standard-columns(5, 1px);
  @include image-list.shape-radius(5px);
}

ha-card .frigate-card-image-list-folder {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  border-style: 2px solid;
  opacity: 0.7;
  color: var(--secondary-text-color, white);
  border-color: var(--secondary-text-color, black);
  background-color: var(--primary-background-color, black);
  padding: 10px;
}

video, img {
  display: block;
}

ha-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--secondary-background-color, black);

  transform-style: preserve-3d; /* Safari brings video elements forward without this */
}

/* Don't drop shadow or have radius for nested webrtc card */
webrtc-camera ha-card {
  box-shadow: none;
  border-radius: 0px;
  background-color: var(--secondary-background-color, black);
}

.frigate-media-controls {
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
.frigate-media-controls.previous {
  left: 45px;
}
.frigate-media-controls.next {
  right: 45px;  
}

.frigate-media-controls.chevrons {
  top: calc(50% - (40px / 2));
}

.frigate-media-controls.thumbnails {
  border-radius: 50%;
  height: 48px;
  top: calc(50% - (48px / 2));
  box-shadow: 0px 0px 30px 1px black;
  transition: all .2s ease;
  opacity: 0.8;
}
.frigate-media-controls.thumbnails:hover {
  opacity: 1 !important;
  height: 72px;
  top: calc(50% - (72px / 2));
}

.frigate-media-controls.previous.thumbnails:hover {
  left: 33px;
}

.frigate-media-controls.next.thumbnails:hover {
  right: 33px;
}