.dotdotdot:after {
  @keyframes dots {
    0%,
    20% {
      content: '.';
    }
    40% {
      content: '..';
    }
    60% {
      content: '...';
    }
    90%,
    100% {
      content: '';
    }
  }

  animation: dots 2s linear infinite;
  content: '';
  display: inline-block;
  width: 3em;
}
