ha-icon.favorite {
  position: absolute;
  color: gold;
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
}

ha-icon.timeline {
  position: absolute;
  color: var(--primary-color);
  right: 0px;
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
}
