:host {
  width: 100%;
  height: 100%;
  display: block;
}

frigate-card-surround-basic {
  // The gallery will grow indefinitely in the `unconstrained` aspect ratio
  // modes, the surround height needs to be limited to something reasonable in
  // order for the media filter to still display somewhere the user can
  // easily/continually access.
  max-height: 100dvh;
}
