:host {
  display: inline-block;
  width: var(--mdc-icon-size, 24px);
  height: var(--mdc-icon-size, 24px);

  --ha-icon-display: block;
}

* {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
