:host {
  width: 100%;
  height: 100%;
  display: block;
}

/* Don't drop shadow or have radius for nested webrtc card */
#webrtc ha-card {
  border-radius: 0px;
  background-color: black;

  // To get the WebRTC player to line up correctly with some themes.
  margin: 0px;
  box-shadow: none;
}