@use 'media-layout.scss';

:host {
  width: 100%;
  height: 100%;
  display: block;
}
video {
  @include media-layout.media-layout();

  // Note: These 3 properties will also be set directly on the video element by
  // the player. They are included here for completeness, or should the
  // underlying player change its behavior in future.
  width: 100%;
  height: 100%;
  display: block;
}
