:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

frigate-card-live-carousel {
  flex: 1;
  min-height: 0;
}

frigate-card-thumbnail-carousel {
  flex: 0 0 var(--frigate-card-carousel-thumbnail-size);
}