@use 'basic-block.scss';

@keyframes warning-pulse {
  0% {
    border: solid 2px var(--frigate-card-triggered-color-1, rgba(0, 0, 0, 0));
  }
  50% {
    border: solid 2px var(--frigate-card-triggered-color-2, var(--warning-color));
  }
  100% {
    border: solid 2px var(--frigate-card-triggered-color-1, rgba(0, 0, 0, 0));
  }
}

frigate-card-live-carousel[triggered] {
  animation: warning-pulse 5s infinite;
}
frigate-card-live-carousel[selected] {
  --frigate-card-triggered-color-1: var(--primary-color);
}
