:host {
  width: intrinsic;
  height: intrinsic;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

img {
  width: 10%;
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
