$bg-img: url('../images/camera-iris-transparent.svg');

:host {
  background-color: var(--primary-background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-image: $bg-img;
  background-size: 10%;
  background-position: center;
}
