:host {
  display: flex;

  flex-direction: column;
  overflow: auto;

  // Hide scrollbar: Firefox
  scrollbar-width: none;
  // Hide scrollbar: IE and Edge
  -ms-overflow-style: none;

  height: 100%;
  width: 300px;
  margin: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
:host::-webkit-scrollbar {
  display: none;
}

frigate-card-select {
  padding: 5px;
}