@use './button.scss';

:host {
  --frigate-card-menu-button-size: 40px;
  --mdc-icon-button-size: var(--frigate-card-menu-button-size);
  --mdc-icon-size: calc(var(--mdc-icon-button-size) / 2);
}

.frigate-card-menu {
  z-index: 1;
  height: calc(var(--frigate-card-menu-button-size) + 6px);
  overflow: hidden;
  /* Menu div itself does not handle click events. Without this, in overlay
     mode, the menu div prevents clicking on gallery items 'behind' the overlay.
     */
  pointer-events: none;
}
.frigate-card-menu.overlay-hidden {
  position: absolute;
  width: calc(var(--frigate-card-menu-button-size) + 6px);
}
.frigate-card-menu.overlay-hidden.left, .frigate-card-menu.overlay-hidden.top {
  left: 0px;
  top: 0px;
}
.frigate-card-menu.overlay-hidden.right {
  right: 0px;
  top: 0px;
}
.frigate-card-menu.overlay-hidden.bottom {
  left: 0px;
  bottom: 0px;
}
.frigate-card-menu.overlay-hidden.expanded-horizontal {
  width: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0.3), rgba(0,0,0,0));
}
.frigate-card-menu.overlay-hidden.expanded-vertical {
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0.3), rgba(0,0,0,0));
}
/* Full above/below menu */
.frigate-card-menu.full {
  width: 100%;
  background: var(--secondary-background-color);
}
