@use './button.scss';

:host {
  pointer-events: auto;
}

mwc-list-item {
  z-index: 20;
}

ha-icon-button {
  // The main submenu icon is expected to follow Advanced Camera Card theming unless it
  // is are active (in which case we want to take advantage of the whatever
  // styling is appropriate, e.g. light icon partially lit).
  --state-unavailable-color: var(--advanced-camera-card-button-color);
  --state-inactive-color: var(--advanced-camera-card-button-color);

  color: var(--advanced-camera-card-menu-button-inactive-color);
  background-color: var(--advanced-camera-card-menu-button-background);
}
