:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  max-width: var(--frigate-card-thumbnail-size-max);
  max-height: var(--frigate-card-thumbnail-size-max);

  border: 1px solid rgba(255,255,255,0.3);
  border-radius: var(--ha-card-border-radius, 4px);
  box-sizing: border-box;

  transition: transform 0.2s linear;

  padding: 10px;
}

:host(:hover) {
  transform: scale(1.04);
}

div.title {
  font-size: 1.5rem;
}