:host {
  display: flex;
  width: 100%;
  margin-left: 5px;
  padding: 15px;
  color: var(--primary-text-color);
  overflow: hidden;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.left {
  flex: 1;
}

div.larger {
  font-size: 1.5rem;
}

span.heading {
  font-weight: bold;
}
