:host {
  --frigate-card-carousel-thumbnail-opacity: 0.8;
}

.embla__slide {
  flex: 0 0 fit-content;
  opacity: var(--frigate-card-carousel-thumbnail-opacity);
  transition: opacity 0.6s ease;
}
.embla__slide.slide-selected {
  opacity: 1.0;
}