@use 'const.scss';

:host {
  display: block;
  width: 100%;
  height: 100%;

  --frigate-card-carousel-thumbnail-opacity: 1;
}

:host([direction='vertical']) {
  height: 100%;
}
:host([direction='horizontal']) {
  // In fullscreen mode, without explicitly setting the height to auto Chrome
  // will construct a stylesheet with 100% height.
  height: auto;
}

.embla__slide {
  flex: 0 0 auto;
  opacity: var(--frigate-card-carousel-thumbnail-opacity);
}
.embla__slide.slide-selected {
  opacity: 1;
}

frigate-card-thumbnail {
  width: var(--frigate-card-thumbnail-size);
  height: var(--frigate-card-thumbnail-size);

  // Do not let thumbnails span beyond the width of the carousel.
  max-width: 100%;
}
frigate-card-thumbnail[details] {
  width: var(--frigate-card-thumbnail-details-width);
}
