:host {
  display: block;
  max-width: var(--frigate-card-thumbnail-size);
  max-height: var(--frigate-card-thumbnail-size);

  aspect-ratio: 1 / 1;

  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-background-color);
  border-radius: var(
    --frigate-card-css-border-radius,
    var(--ha-card-border-radius, 4px)
  );

  overflow: hidden;
  padding: 10px;

  box-sizing: border-box;

  // Ensure img.background is relative to this.
  position: relative;
}

img.background {
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  inset: 0;

  padding: 10%;
  box-sizing: border-box;

  pointer-events: none;

  opacity: 0.1;
}

div.content {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--primary-text-color);
}

div {
  text-align: center;
}
div.title {
  font-size: 1.5rem;
}
div.camera {
  font-size: 0.7em;
}
