:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

img, ha-icon {
  border-radius: var(--ha-card-border-radius, 4px);

  max-width: var(--frigate-card-thumbnail-size-max);
  max-height: var(--frigate-card-thumbnail-size-max);

  // Not 'contain' as some thumbnails may vary in aspect-ratio slightly and
  // should be clipped to fill the thumbnail div whilst maintaining
  // aspect-ratio.
  object-fit: cover;

  // Restrict images to a maximum of thumbnail size.
  aspect-ratio: 1 / 1;
  height: 100%;

  transition: transform 0.2s linear;
}

ha-icon {
  --mdc-icon-size: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255,255,255,0.3);
  box-sizing: border-box;
}

img:hover {
  transform: scale(1.04);
}