:host {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-left: 5px;
  padding: 5px;
  color: var(--frigate-card-thumbnail-text-color);
  overflow: hidden;
  column-gap: 5%;
}

div.title {
  font-size: 1.2rem;
  font-weight: bold;
}

div.details {
  flex: 1;
  justify-content: center;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  --mdc-icon-size: 16px;

  // Details panel can shrink as well as grow.
  min-height: 0px;
}

div.details div {
  display: flex;
  align-items: center;
}

div.details div * {
  margin: 0px 3px;
}
