:host {
  display: block;
  width: 100%;
  height: 100%;

  --frigate-card-timeline-thumbnail-size: 75px;

  border-radius: 5px;
  overflow: hidden;
}

img {
  width: var(--frigate-card-timeline-thumbnail-size);
  height: var(--frigate-card-timeline-thumbnail-size);
  display: block;
}
