@use 'vis-timeline/dist/vis-timeline-graph2d.css';

:host {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--card-background-color);
  padding-bottom: 5px;
}

div.timeline {
  height: 100%;
}

.vis-text {
  color: var(--primary-text-color) !important;
}

.vis-timeline {
  border: none;
}

.vis-labelset .vis-label {
  // Group labels.
  color: var(--primary-text-color);
}

.vis-item {
  border-color: var(--primary-color);
  background: none;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.vis-item:hover {
  // Float icons upwards when the user hovers over them.
  z-index: 2;
}

.vis-item.vis-box {
  border: none;
}

.vis-item .vis-item-content {
  padding: 0px;
}

.vis-item.vis-cluster {
  border-style: dotted;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  box-shadow: 0px 0px 5px 1px var(--primary-color);
}

.vis-time-axis .vis-grid.vis-minor {
  border-color: var(--secondary-color);
}

.vis-time-axis .vis-grid.vis-major {
  border-color: var(--secondary-color);
}

.vis-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.vis-tooltip {
  padding: 0px;
  background-color: unset;
  border: none;
}
