:host {
  --paper-toast-background-color: rgba(0,0,0,0.6);
  --paper-toast-color: white;
}

paper-toast {
  max-width: unset;
  min-width: unset;
  display: flex;
  align-items: center;
}

paper-toast img {
  max-height: 24px;
  padding-left: 10px;
}